<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/assets/styles/app.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar">
        <div class="link-container">
            <a class="menu-item" asp-controller="Home" asp-action="Index">HOME</a>
        </div>
        <div class="link-container">
            @await Component.InvokeAsync("CategoryMenu")
        </div>
        <partial name="_LoginPartial"/>
        @await Component.InvokeAsync("ShoppingCartSummary")
    </div>
<div class="container">

    @RenderBody()
</div>
@RenderSection("Scripts", false);
</body>
</html>
